
<div class="mt-5">
    <form method="post">
        <div class="mb-3">
            <label for="search-input" class="form-label">Key</label>
            <input type="text" name="q" class="form-control" id="exampleInputEmail1" placeholder="Enter keyword...">
        </div>

        <div class="mb-3">
            <label for="search-input" class="form-label">Key</label>
            <select name="gender" class="form-control" id="gender-input"> 
                <option value="">--Select gender--</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>   
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>