<html>
    <head>
        <title>Automatic Fertigation Machine Dosing System for Hydroponic System</title>
        <link rel="stylesheet" href="/style.css">

    </head>
    <body>
        <div class="hero">
            <div class="navbar">
                <img src="images/logo.png" class="logo">
                <small class="universityTag">Ho Chi Minh<br>University of Technology</small>
                <button type ="button" onclick="location.href='signinpage'">Login</button>
            </div>
            <div class="content">
                <h1>Automatic Fertigation Machine<br>Dosing System for Hydroponic System</h1>
                <button type="button">Take a Tour</button>
            </div>
            <div class= 'navbotbar'>
                <nav>
                    <a class='botlinktag' href="/">Home page</a>                                                                                   
                    <a class='botlinktag' href="/signinpage">Login</a>                                                                          
                </nav>
            </div>
        </div>
    </body>
</html>