<html>
    <head>
        <title>Sign In Page</title>
        <link rel="stylesheet" href="/stylesignin.css">
    </head>
    <body>
        <div class="navbar">
            <img src="images/logo.png" class="logo">
            <small class="universityTag">Ho Chi Minh<br>University of Technology</small>
        </div>
        <div class="signin">
            <h1>Login</h1>
            <form action="signinpage" method="POST" >
                <div class="txt_field">
                    <input type="text" id="text" name = "text" required>
                    <span></span>
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    <input type="password" id="password"  name = "password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <input type="submit" value="Login">
                <h2></h2>
            </form>
            
        </div>
        <div class= 'navbotbar'>
            <nav>
                <a class='botlinktag' href="/">Home page</a>                                                                                   
                <a class='botlinktag' href="/signinpage">Login</a>                                                                          
            </nav>
        </div>
    </body>
</html>