:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --color-temperature: #ffbb55;
  --color-PH: #8c1aff;
  --color-DTS: #40ff00;
  --color-EC: #ff7782;

  --card-border-radius: 1.2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;


  --card-padding: 1.8rem;
  --padding-i: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);

  --color-font-device-page:#fff;
}
/* -------------  middle----------------- */
.main {
  padding: 0.5rem;
  background-image: url(../assets/backgoundDevice.jpg);
  /* background-repeat: no-repeat; */
  /* background-size: auto; */
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.config {
  padding: 15px 0px 0px 0px;
}
.config h1 {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.PH-config {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0rem;
  margin-left: auto;
  margin-right: 30px;
  width: 80%;
}
.TDS-config {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: auto;
  margin-right: 30px;
  width: 80%;
}

.nutriRatio {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 27%;
}
.nutriRatio h2 {
  text-align:center;
  font-weight: 500;
  font-size: 15px;
  color: var(--color-font-device-page);
}

.pH h2 {
  font-size: 15px;
}
.dead_PH h2 {
  font-size: 15px;
}
.tDS h2 {
  font-size: 15px;
}
.dead_TDS h2 {
  font-size: 15px;
}
/* -------------  right ----------------- */
.addDevice {
  background: #e6f2ff;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.device-box img {
  margin-top: 20px;
  width: 200px;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
input {
  position: relative;
  margin-top: 10px;
  font-size: 13px;
  box-sizing: border-box;
  transition: 0.5s;
}

.text {

  background: white;
  width: 180px;
  height: 40px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 10px;
  font-weight: 300;
  margin-bottom: 10px;
}
.message {
  text-align: center;
}
.button {
  position: relative;
  border-radius: 25px;
  width: 150px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #2667ff;
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 50%;
}

.form {
  background: #b3d9ff;
  padding: 30px 0px 25px 0px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  border-radius: 20px;
}
.form h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.form form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.addButton {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;

  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.addButton:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.addButton:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}




/*----------------------SignleType-------------------------*/

.singleType{
  margin-top: 10px;
  background: #fff;
  border-radius: 1rem;
  padding: 0.5rem;
}
.typeSetting{
  font-weight: 300;
}

.cirular-value{
  display: grid  ;
  grid-template-columns: repeat(4, 1fr);
  margin: 1 auto;
  /* /grid-template-columns: 10px auto auto 10px; */
}

.TDSSetting{
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; */

}

.nutri_ratioSetting img{
  height: 40px;
  width: 40px;
}
.dead_PHSetting img{
  height: 40px;
  width: 40px;
}
.dead_TDSSetting img{
  height: 40px;
  width: 40px;
}
.TDSSetting img{
  height: 40px;
  width: 40px;
}
.PHSetting img{
  height: 40px;
  width: 40px;
}


.type-button {
	padding-top: 0;
	background: transparent;
	border: none;
  margin-right: 8px;
}

.type-button:hover {
	background: transparent;
}

.inputtype-button{
  margin-top: 10px;
  padding-top: 0;
	background: transparent;
	border: none;
  margin-right: 8px;
}

.optionTypePersonalGlobal{
  display: grid  ;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.GlobalTypeBox{
  background: 	 #f4f1de;
  border-radius: 10px;
  padding: 20px;
}
.PersonalTypeBox{
  background: 	#f4f1de;
  border-radius: 10px;
  padding: 20px;
}

.personalAndButton{
  display: flex;
}
.selectPersonalType{

    
    display: block;
    width: 90%;
    
}

.deviceName1{
  position: absolute;
  margin-left: 20px;
  margin-top: 25px;
  color: var(--color-font-device-page);
}

.titleGlobal-Personal{
  margin-left: 10px;
  color: var(--color-font-device-page);
}

.configManualTitle{
  /* color: var(--color-font-device-page); */
  
}

.PH-config h2{
  color: var(--color-font-device-page);
}

.TDS-config h2{
  
  color: var(--color-font-device-page);
}
.boundingboxManual{
  background: #dde7c7;
  margin-top: 20px ;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 10px;
  /* border: 3px solid green;*/
  border-radius: 10px; 
  
}